div
{
	margin: 10px;
	width: 48%;
}
#showParagraph1 , #showParagraph2
{
    text-align: center;
    font-size: large;
}
.pg{
    text-align: center;
        background-color: rgb(51, 255, 32);
        width: 1000px;
        border: 15px solid green;
        padding: 10px;  

}